<md-content>
    <md-card>
        <md-card-content ng-controller="signupController as signupCtrl">
            <form name="signupForm" layout="column" layout-align="center"
                ng-submit="signupCtrl.signup()">
                <md-input-container flex>
                    <label>Firstname</label>
                    <input type="text" name = "firstname" ng-model="signupCtrl.firstname" required>
                    <div ng-messages="signupForm.firstname.$error">
                        <div ng-message="required">Firstname is required</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Lastname</label>
                    <input type="text" name="lastname" ng-model="signupCtrl.lastname" required>
                    <div ng-messages="signupForm.lastname.$error">
                        <div ng-message="required">Lastname is required</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="signupCtrl.email" required
                        ng-change="signupCtrl.checkIfEmailExists()">
                    <div ng-messages="signupForm.email.$error">
                        <div ng-message="email">
                            Please enter a valid email
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="signupCtrl.passwd" required>
                    <div ng-messages="signupForm.passwd.$error">
                        <div ng-message="required">Password is required</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex>
                        <label>Re-Enter Password</label>
                        <input type="password" name="repassword" ng-model="signupCtrl.repass">
                    </md-input-container>
                    <i class="material-icons" ng-show="signupCtrl.matchPasswd()">done</i>
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" type="submit">Signup</md-button>
                    <span flex></span>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
